# See https://config.travis-ci.com/ for a full list of configuration options.

os: linux

dist: xenial

language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"

# Scripts to run at install stage
install: ./configure --dev

# Scripts to run at script stage
script: tmp/bin/pytest
